  /* .nav-links {
	display: inline;
	float: right;
	font-size: 30px;
    background-color: rgb(206, 197, 148);
  }
  
  .nav-links > a {
	display: inline-block;
	padding: 13px 10px 13px 10px;
	text-decoration: none;
	color: rgb(24, 39, 138);
  }
  
  .nav-links > a:hover {
	color: red;
  }
  html, body 
  {
      height: 100%;
      margin: 0;
      padding: 0;
  }
  body 
  {
      background-color: black;
      border-color: gold;
      border-style: double;
      border-width: 5px;
      box-sizing: border-box; 
  }
  img 
  {
      display: block;
      width: 250px; 
      align-self: center;
  }
  h1 
  {
      color: white;
      font-size: 25px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: bold;
      text-align: center;
      margin-left: 20px;
  }
  h2 
  {
      color: white;
      font-size: 15px;
      font-style: normal;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      margin: 20px;
  }
  .intro
  {
    align-items: center;
  } */

body
{
	text-align: center;
	font-family: 'DM Sans', sans-serif;
	font-weight: 100;
    background-color: black;
	/* background-image: url("bg.PNG");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%; */
}
h1
{
	font-family: 'DM Sans', sans-serif;
	color: #eeff00;
	font-weight:  bold;
	font-size: 60px;
	margin: 40px 0px 20px;
}
h3
{
	font-family: 'DM Sans', sans-serif;
	color: #eeff00;
	font-weight: 100;
	font-size: 25px;
	margin: 40px 0px 20px;
}
.floatingleft 
{
    /* float: left; */
	height: 150px;
	width: 200px;
	left: 500px;
	right: 5000px;
}
.intro
{
	background-color: hsla(0, 0%, 0%, 0.5);
	padding: 2rem;
	margin-left: 150px;
	margin-right: 150px;
}
.slides
{
	padding: 2rem;
}
.slides img
{
	height: 300px;
	width: auto;
}
#logo
{
    width: 30%;
    border-color: #eeff00;
    border-style: solid;
    border-width: 2px;
}
#fests
{
    width: 60%;
    border-color: #eeff00;
    border-style: solid;
    border-width: 2px;
}
.fest
{
    border-color: #eeff00;
    border-width: 2px;
    border-style: solid;
    margin-left: 250px;
    margin-right: 250px;
}
canvas {
	background-color: #eeff00;
	display: block;
	margin: auto;
}
* {
	box-sizing: border-box;
  }
  
  .nav {
	margin-bottom: 3%;
	height: 75px;
	width: 100%;
	background-color: #eeff00;
	position: relative;
  }
  
  .nav > .nav-header {
	display: inline;
  }
  
  .nav > .nav-header > .nav-title {
	display: inline-block;
	font-size: 25px;
	color: rgb(0, 0, 0);
	padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
	display: none;
  }
  
  .nav > .nav-links {
	display: inline;
	float: center;
	font-size: 30px;
  }
  
  .nav > .nav-links > a {
	display: inline-block;
	padding: 13px 10px 13px 10px;
	text-decoration: none;
	color: rgb(0, 0, 0);
  }
  
  .nav > .nav-links > a:hover {
	color: #eeff00;
  }
  
  .nav > #nav-check {
	display: none;
  }

  
  /* @media (max-width:600px) {
	.nav > .nav-btn {
	  display: inline-block;
	  position: absolute;
	  right: 0px;
	  top: 0px;
	}
	.nav > .nav-btn > label {
	  display: inline-block;
	  width: 50px;
	  height: 50px;
	  padding: 13px;
	}
	.nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
	  background-color:white;
	}
	.nav > .nav-btn > label > span {
	  display: block;
	  width: 25px;
	  height: 10px;
	  border-top: 2px solid #eee;
	}
	.nav > .nav-links {
	  position: absolute;
	  display: block;
	  width: 100%;
	  background-color: white;
	  height: 0px;
	  transition: all 0.3s ease-in;
	  overflow-y: hidden;
	  top: 50px;
	  left: 0px;
	}
	.nav > .nav-links > a {
	  display: block;
	  width: 100%;
	}
	.nav > #nav-check:not(:checked) ~ .nav-links {
	  height: 0px;
	}
	.nav > #nav-check:checked ~ .nav-links {
	  height: calc(100vh - 50px);
	  overflow-y: auto;
	}
  } */