* {
  padding: 0;
  margin: 0;
}

html, body {
  background-color: #d7e1fa;
  font-family: Arial, sans-serif;
}

header {
  margin-top: 20px;
  text-align: center;
  background-color: #a5befa;
  padding: 20px 0;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.box {
  width: 45%;
}

.Latest-News, .Notice-board {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
}

.heading-sect {
  margin-bottom: 10px;
}

.head-title {
  margin: 0;
  font-size: 24px;
}

#scroll-container {
  height: 315px;
  width: 100%;
  overflow: hidden;
  background-color: white;
  border: 1px solid gray;
  border-radius: 4px;
  margin-right: 10px;
}

#scroll-text {
  height: 100%;
  text-align: center;
  transform: translateY(-100%);
  animation: my-animation 15s linear infinite; /* Slowed down the animation to 20s */
}

@-moz-keyframes my-animation {
from { transform: translateY(-100%); }
to { transform: translateY(100%); }
}

@-webkit-keyframes my-animation {
from { transform: translateY(-100%); }
to { transform: translateY(100%); }
}

@keyframes my-animation {
from { transform: translateY(-100%); }
to { transform: translateY(100%); }
}

#scroll-text a {
  color: #337ab7;
  text-decoration: none;
}

#scroll-text a:hover {
  text-decoration: underline;
}

.upcoming-event-list{
  list-style: none;
  padding: 0px;
}

.upcoming-event-list li{
  margin-bottom: 35px;
}

.event-date{
  background-color: #29b6f6;
  float: left;
  text-align: center;
  font-size: 14px;
  padding: 8px;
  margin-right: 10px;
}